*{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    }
    
    :focus,:active{outline: none;}
    a:focus,a:active{outline: none;}
    
    nav,footer,header,aside{display: block;}
    
    :root{
    --boss: rgb(160, 160, 160);
    --colors: rgb(210, 198, 198);
    }
    
    input,button,textarea{font-family:inherit;}
    
    input::-ms-clear{display: none;}
    button{cursor: pointer;}
    button::-moz-focus-inner {padding:0;border:0;}
    a, a:visited{text-decoration: none;}
    a:hover{text-decoration: none;}
    ul li{list-style: none;}
    img{vertical-align: top;}
    
    h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
    
    html{
    scroll-behavior: smooth;
    }
    
    

    .rubik-glitch pop-regular {
        font-family: "Rubik Glitch Pop", system-ui;
        font-weight: 400;
        font-style: normal;
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

    
    body{
        background-color: #f3a358e1;
        transition: 2s;
        overflow: hidden;
    }
    .header {
        margin: 0 auto;
        max-width: 1200px;
        height: 300px;
        display: flex;
        align-items: center;
        height: 50px;
        position: relative;
    }
    .header__logo {
        width: 100px;
        left: 30px;
        top: 30px;
        position: absolute;
        top: 30px;
        left: 0;
    }
    .header__burger-menu {
        width: 40px;
        height: 5px;
        background-color: #000;
        position: absolute;
        right: 0;
        top: 50px;
    }
    .main {
    }
    .main__conteiner {
        width: 100%;
        margin: 0 auto;
    }
    .slider-menu {
    }
    .slider-menu__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        transform: translateY(-70px);
    }

    .car-1{
        position: absolute;
        right: 50px;
        bottom: 300px;
        z-index: 2;
        filter: drop-shadow(40px 20px 20px #0000009c);
        width: 170px;
    }
    
    .car-2{
        position: absolute;
        right: 260px;
        bottom: 70px;
        z-index: 2;
        filter: drop-shadow(40px 30px 20px #0000009c);
        width: 130px;
        z-index: -1;
    }
    .car-3{
        position: absolute;
        left: 85px;
        bottom: 320px;
        z-index: 2;
        filter: drop-shadow(-20px 30px 20px #0000009c);
        width: 200px;
    }
    .car-4 {
        position: absolute;
        bottom: 40px;
        right: 120px;
        z-index: 2;
        filter: drop-shadow(40px 20px 20px #0000009c);
        width: 170px;
    }
    .car-5 {
        position: absolute;
        bottom: 400px;
        left: 70px;
        z-index: 2;
        filter: drop-shadow(40px 20px 20px #0000009c);
        width: 170px;
    }
    .car-6 {
        position: absolute;
        bottom: 40px;
        left: 10px;
        z-index: 2;
        filter: drop-shadow(40px 20px 20px #0000009c);
        width: 300px;
    }
    .car-7 {
        position: absolute;
        bottom: 400px;
        left: 500px;
        z-index: 2;
        filter: drop-shadow(40px 20px 20px #0000009c);
        width: 170px;
    }
    .car-8 {
        position: absolute;
        bottom: 150px;
        left: 900px;
        z-index: 2;
        filter: drop-shadow(40px 20px 20px #0000009c);
        width: 170px;
    }
    .car-9 {
        position: absolute;
        bottom: 100px;
        left: 500px;
        z-index: 2;
        filter: drop-shadow(40px 20px 20px #0000009c);
        width: 170px;
    }
    .car-10 {
        position: absolute;
        bottom: 00px;
        left: 0px;
        z-index: 2;
        filter: drop-shadow(40px 20px 20px #0000009c);
        width: 170px;
    }
    .car-11 {
        position: absolute;
        bottom: -60px;
        left: 1100px;
        z-index: 2;
        filter: drop-shadow(40px 20px 20px #0000009c);
        width: 300px;
    }
    .car-12 {
        position: absolute;
        bottom: -60px;
        left: 0px;
        z-index: 2;
        filter: drop-shadow(40px 20px 20px #0000009c);
        width: 170px;
        color: #927852;
    }
    .car-13 {
        position: absolute;
        bottom: 400px;
        left: 650px;
        z-index: 2;
        filter: drop-shadow(40px 20px 20px #0000009c);
        width: 170px;
    }
    .slider-menu__nav_li {
        font-size: 30px;
        text-align: center;
        font-family: Roboto;
        color: aliceblue;
        cursor: pointer;
        transition: 1s;
        text-shadow: 5px 10px 5px #000;
    }
    .slider-menu__nav_li:hover{
        color: #2c2b2b;
    }
    .slaider {
        width: 100%;
        height: 85vh;
        display: flex;
        transition: 1s;
    }
    .slaider__slaid {
        width: 100%;
        flex: 0 0 100%;
        transition: 0.5s;
    }
    .slaider__slaid-box {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    .slaider__slaid-box_p {
        font-size: 100px;
        text-align: center;
        font-family: Rubik Glitch Pop;
        color: aliceblue;
        z-index: 1;
        text-shadow: 40px 10px 5px #0000009c;
    }
    .footer {
        color: #424862b9;
    }
    .footer__h3 {
    }
    .paralax-1{
        transition: 0.2s;
    }
    .paralax-2{
        transition: 0.2s;
    }
    .paralax-3{
        transition: 0.2s;
    }